<button type="button" class="btn btn-dark position-relative">
    <h1>SELAMAT DATANG DI GAME-KU AYO BERGABUNG DAN MAINKAN KAN BERSAMA TEMAN MU DAN IKUTI EVENT MENARIK NYA</h1><svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill" fill="#212529" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
  </button><hr>
  <table class="table table-dark table-sm">
    
<h5>BUSRIKI 192102178</h5>
   
  </table>

  <div class="container">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-danger"><h2>DIAMOND 200 = RP.30.000</h2></button>
      </div>
      <div class="col order-5">
        <button type="button" class="btn btn-danger"><h2>DIAMOND 2000 = RP.300.000</h2></button>
      </div>
      <div class="col order-1">
        <button type="button" class="btn btn-danger"><h2>DIAMOND 3000 = RP.600.000</h2></button>
      </div>
    </div>
  </div>